<html>
    <head>
        {% if title %}
        <title>{{ title }} - Cloud Run Clients</title>
        {% else %}
        <title>Welcome to Cloud Run Clients!</title>
        {% endif %}
    </head>
    <body>
        <div id="header">
            Cloud Run Clients: 
            <a href="{{ url_for('index') }}">Home</a> | 
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <hr>
        <div id="footer">
            <p>&copy; Copyright <a href="http://www.danoscarmike.com">DanO/M</a> 2020</p>
        </div>
    </body>
</html>