{% extends "base.html" %}

{% block app_content %}
    {% if current_user.is_anonymous %}
    <h1>Hi there! Do we know each other?</h1>
    {% else %}
    <h1>Hi {{ current_user.first_name }}!</h1>
    {% endif %}
    <p>Choose a client to generate:</p>
    {% for service in services %}
    <div>
        {% if service.title %}
        <p><a href="{{ url_for('generate_client') }}">{{ service.title }} {{ service.version }}</a></p>
        {% else %}
        <p><a href="{{ url_for('generate_client') }}">{{ service.name }} {{ service.version }}</a></p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}